.leftBar {
  flex: 3;
  overflow-y: scroll;
  height: auto;
  position: sticky;
  top: 0;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(236, 228, 228);
}
.leftWrapper {
  padding: 20px;
}
.leftItems {
  margin: 0;
  padding: 0;
  list-style: none;
}
.leftItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.leftIcon {
  margin-right: 15px;
}
.leftText {
  font-weight: 500;
}
.leftButton {
  width: 150px;
  padding: 10px;
  border: none;
  font-weight: 500;
  border-radius: 5px;
}
.leftHr {
  margin: 20px 0;
}
.leftFriend {
  margin: 0;
  padding: 0;
  list-style: none;
}
.leftFriendItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.friendImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
@media only screen and (max-width: 600px) {
  .leftBar {
    display: none;
  }
}
